# remove __pycache__ folder and their content

__pycache__
*.pyc

# ignore api token files so it doesn't end up pubicly shared on github
#pywhale/*.txt
*_key.txt
.gitignore
Documentation.txt
pywhale/api_keys/BTC_real_key.txt
pywhale/api_keys/BTC_demo_key.txt
pywhale/api_keys/DASH_demo_key.txt
pywhale/api_keys/DASH_real_key.txt
pywhale/api_keys/ETH_real_key.txt
pywhale/api_keys/LTC_real_key.txt
